body { 
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  background-size: cover;
  background-attachment: fixed;
  margin: 40px;
}

.btn {
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 20px 8px 0 rgba(0,0,0,0.2);
}
.btn-primary {
  font-family: 'Josefin Sans', sans-serif;
}
.btn:hover {
  background-color: #555;
}



.form-control {
  box-shadow: 0 20px 8px 0 rgba(0,0,0,0.2);
}

.card-body {
  animation: fade-in-bottom 3s;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  font-weight: bold;
}

.card { 
box-shadow: 0 20px 8px 0 rgba(0,0,0,0.2);
margin: 50px;
}

.animate__animated.animate__bounceInUp{
--animate-duration: 2s;
text-align: center;
}

h1 {
  margin: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 15px 15px 15px rgba(247, 239, 239, 0.3);
}

.form-label, form-control {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 30px;
    
}

/* CSS for the flying icons */
.flying-icon {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  position: absolute;
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-500px); /* Adjust the distance icons should fly */
    opacity: 0;
  }
}

/* Apply the animation to the icon container */
.animate-icons {
  animation: fly-up 2s ease-in-out; /* Adjust the animation duration as needed */
  animation-fill-mode: forwards;
}
/* :( */